{% extends 'base.html.twig' %}

{% block title %}О нас{% endblock %}

{% block body %}

<div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
    <div class="col-md-5 p-lg-5 mx-auto my-5">
        <h5 class="fw-bold text-muted text-start">Кто мы?</h5>
        <h1 class="display-4 fw-normal">Помогаем разработчикам и инженерам написать код будущего!</h1>
    </div>
    <div class="product-device shadow-sm d-none d-md-block"></div>
    <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
</div>

<div class="container">
<h2 class="fw-bold text-muted text-center py-2">Наши основные ценности</h2>
<div class="row g-5 py-5">
    <div class="feature col-md-4">
      <div class="feature-icon bg-primary bg-gradient">
        <i class="far fa-heart"></i>
      </div>
      <h5>Ориентированность на клиентов</h5>
      <p>Со всей отдачей помогать нашим клиентам путем коммуникации и связи с нашими пописчиками</p>
    </div>
    <div class="feature col-md-4">
      <div class="feature-icon bg-primary bg-gradient">
        <i class="far fa-hand-spock"></i>
      </div>
      <h5>Быть гибкими и инклюзивными</h5>
      <p>Мы делаем все возможное, чтобы разнообразные группы людей сотрудничали в атмосфере уважения и доверия. Создаем пространство, чтобы можно было услышать разные голоса, и даем возможность людям гибко работать. </p>
    </div>
    <div class="feature col-md-4">
      <div class="feature-icon bg-primary bg-gradient">
        <i class="far fa-compass"></i>
      </div>
      <h5>Прозрачность</h5>
      <p>Общайтесь открыто и честно как внутри компании, так и за ее пределами. Поощряйте прозрачность со стороны других, проявляя чуткость, надежность и порядочность. </p>
    </div>
  </div>
  <div class="row g-5">
    <div class="feature col-md-4">
      <div class="feature-icon bg-primary bg-gradient">
        <i class="fas fa-project-diagram"></i>
      </div>
      <h5>Дайте людям возможность добиваться выдающихся результатов</h5>
      <p>Дайте людям возможность выполнять свою работу, поддерживайте их, когда они в этом нуждаются, и проявляйте безупречную ответственность. </p>
    </div>
    <div class="feature col-md-4">
      <div class="feature-icon bg-primary bg-gradient">
        <i class="fas fa-users"></i>
      </div>
      <h5>Держим сообщество в центре</h5>
      <p>Сообщество лежит в основе всего, что мы делаем. Создавайте здоровые сообщества, в которых всех поощряют учиться и отдавать.</p>
    </div>
    <div class="feature col-md-4">
      <div class="feature-icon bg-primary bg-gradient">
       <i class="fab fa-leanpub"></i>
      </div>
      <h5>Учитесь, делитесь, развивайтесь</h5>
      <p>Примите установку на рост. Будьте любопытными и стремитесь учиться. Стремитесь к этичному, устойчивому и долгосрочному росту как в личном, так и в корпоративном плане.</p>
    </div>
  </div>
</div>

{% endblock %}